.container {
  min-height: 100vh;
  padding: 0 0rem;
  height: 100vh;
  width: 100%;
}

.main {
  display: block;
}

.article p {
    /* font-stretch: semi-condensed; */
    font-size: 1rem;
}

/* Desktop display */
@media (max-width: 768px) {
  .main {
    padding: 1rem 0.5rem;
    /* max-width: 600px; */
  }

    .article pre {
      max-width: 100%;
    }
  .article img {
    max-width: 100%;
    object-fit: contain;
  }
}
@media (min-width: 768px) {
  .main {
    padding: 1rem 2rem;
    max-width: 600px;
  }


  .article img {
    max-width: 60ch;
    padding: 2rem 1rem;
    object-fit: contain;
    display: block;
  }
}

.header {
  content: ' ';
  width: 100%;
  height: 3rem;
  background: rgb(221, 237, 248);
  padding-top: 1rem;
  display: block;
  padding: 0;
  margin: 0;
}

.article {
  
}

.article img {
  object-fit: contain;
  display: block;
  /* width: 80%; */
  /* border: 1px solid #ddd; */
  /* simple box shadow */
  box-shadow: 0 0 2px rgba(41, 41, 41, 0.3);

  padding: 0;
  margin: 0;
  margin-bottom: 0px;
  margin-bottom: 1rem;

  transition: all 0.3s;
}

.article a img:hover {
  /* lift */
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.3);
  transform: scale(1.05);
}

.article pre {
  max-width: 100ch;
  background: #fafafa;
  border-radius: 5px;
  min-width: 70ch;
  white-space: pre-wrap;
  font-size: 1rem;
  display: block;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.article code {

}
